@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
body{
    margin:auto;
    background-color: whitesmoke;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
/*--Start of header--*/
.header{
    width: auto;
    height: 80px;
    background-color: rgb(39, 36, 36);
}
.header .icon{
    display: none;
    padding: 0px 30px 0px 0px;

}
.header .icon img{
    height: 100%;
}
.logo{
    width: 20%;
    height: 100%;
    float: left;
}
.logo img{
    margin-left: 50px;
    margin-top: 5px;
}
.nav{
    width: 79%;
    height: 80px;
    float: right;
    display: inline-block;
}
nav a{
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 30px;
}
.auth{
    width: 30%;
    float: right;
    height: 100px;
}
.auth a{
    width: 40%;
    float: left;
    text-align: center;
    padding-top: 30px;
}
.nav a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(204, 208, 212);
    display: inline-block;
}
a .active{
    color: green;
}
.nav a:hover{
    color: white;
}
.nav .auth .login{
    background-color: rgb(39, 36, 36);
    border: none;
    color: rgb(204, 208, 212);
    float: right;
}
.nav .auth .login-hidden{
    display: none;
    background-color: rgb(39, 36, 36);
    border: none;
    color: rgb(204, 208, 212);
    float: right;
}
.nav .auth i{
    color:rgb(204, 208, 212);
    position: absolute;
    right: 160px;
    top: 25px;
}
.nav .auth .login:hover, .nav .auth .login:hover i,.nav .auth .login-hidden:hover i{
    color: white;
    cursor:pointer;
}
.nav .auth .login p{
    display: inline;
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 20px;
    margin-left: 10px;

}
.nav .auth .logout{
    display: block;
}
.nav .auth .logout-hidden{
    display: none;
    color:rgb(204, 208, 212);
}
.nav .auth .logout-hidden i:hover{
    color: white;
}
/*--End of Header--*/
/*--Start of Content--*/
.content1{
    width: auto;
    margin: 10px 10px 0px 10px;
    height: 410px;
}
.announcement{
    width: 70%;
    float: left;
    height: 100%;
    border: 1px solid;
}
.announcement ul{
    padding-left: 15px;
}
.announcement li{
    list-style: none;
    padding-bottom: 8px;
    font-size: 17px;
}
.announcement .right{
    text-align: right;
    padding-right: 15px;
}
.right{
    text-align: right;
    padding-right: 10px;
}
.announcement a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid whitesmoke;
    transition: 0.3s ease;
}
.announcement a:hover{
    font-size: 18px;
    border-color: rgb(64, 22, 112);
    padding: 0 0 6px 0;
    color: rgb(79, 73, 73);
}
.most{
    width: 29%;
    float: right;
    height: 100%;
    border: 1px solid;
}
.mostread{
    font-size: 20px;
    padding: 15px 0px 0px 15px;
}
.most ul{
    padding-left: 15px;
    list-style-type: none;
}
.most li{
    font-size: 17px;
    padding-bottom: 8px;
    list-style: none;
}
.most a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid whitesmoke;
    transition: 0.3s ease;
    line-height: 20px;
}
.most a:hover{
    font-size: 18px;
    padding-bottom: 6px;
    border-color: rgb(64, 22, 112);
    color: rgb(79, 73, 73);

}
.content2{
    width: auto;
    min-height: 980px;
    margin: 20px 10px 0px 10px;
    padding: 0px 15px 0px 15px;
}
.content2 li{
    list-style: none;
    padding-bottom: 8px;
    font-size: 17px;
}
.content2 .underlined{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    margin-right: 20px;
    transition: 0.3s ease;
}
.content2 a{
    text-decoration: none;
    color: black;
}
.content2 .tbl a, .content2 .right a{
    border-bottom: 2px solid whitesmoke;
    transition: 0.3s ease;
}
.content2 .tbl a:hover,.content2 .right a:hover{
    border-color: rgb(64, 22, 112);
    padding-bottom: 6px;
}
.content2 .underlined:hover{
    border-color: rgb(64, 22, 112);
    border-width: 3px;
}
.content2 .thead{
    text-align: left;
}
th, td {
    border-bottom: 1px solid #ddd;
    text-align: justify;
    height: 50px;
}
/*--End of Content--*/
/*--Start of Footer--*/
.footer{
    width: auto;
    height: 150px;
    margin-bottom: 0px;
    background-color: rgb(39, 36, 36);
}
.footer i{
    color:rgb(204, 208, 212);
}
.footer1{
    width: 50%;
    height: 85%;
    display: inline-block;
    float: left;
}
.footer1 .contactUs{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}
.footer1 .privacy{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}
.footer1 .aboutUs{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}
.footer2{
    width: 50%;
    height: 85%;
    display: inline-block;
    float: right;
}
.footer2 .facebook{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}
.footer2 .twitter{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}
.footer2 .discord{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}
.footer p{
    color:  rgb(204, 208, 212);
    text-align: center;
}
.footer a, .footer p{ 
    text-decoration: none;
    color:  rgb(204, 208, 212);
    transition: 0.3s;
}
.footer a:hover p{
    color:white;
    font-size: 18px;
}
.footer a:hover i, .footer a:hover {
    color: white;
}
/*--End of footer--*/
/*--Start of panel--*/
.panel{
    width: auto;
    height: 60px;
    margin: 10px 10px 0px 10px;
    padding: 0px 15px 0px 15px;
    background-color: rgb(73, 71, 71);
    
}
.prev{
    padding-top: 5px;
    width: 10%;
    height: 100%;
    float: left;
}
.title{
    padding-top:15px;
    text-align: center;
    float: left;
    width: 80%;
}
.next{
    padding-top: 5px;
    width: 10%;
    height: 100%;
    float: right;
    text-align: right;
}
.panel a{
    text-decoration: none;
    color:  rgb(204, 208, 212);
    font-size: 19px;
}
/*--End of panel--*/
/*--Start of reading page--*/
.read{
    width: auto;
    margin: 0px 10px 0px 10px;
    min-height: 800px;
    padding: 0px 15px 0px 15px;
    white-space: pre-line;
}
.read .read-title{
    font-size: 18px;
}
.read .read-content{
    font-size: 17px;
}
/*--End of reading page--*/
/*--Start of update page--*/
.update{
    width: auto;
    min-height: 800px;
    margin: 10px 10px 0px 10px;
    text-align: left;
    padding: 0px 15px 0px 15px;
}
.col-1{
    width: 50%;
    height:100%;
    float: left;
    font-size: 18px;
}
.col-2{
    width: 50%;
    height: 100%;
    float: right;
    text-align: end;
    font-size: 18px;
}
.update a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid whitesmoke;
    transition: 0.3s ease;
}
.update a:hover{
    padding-bottom: 6px;
    border-color: rgb(64, 22, 112);
    color: rgb(79, 73, 73);

}
/*--End of update page--*/
/*--Start of About Novel Page--*/
.desc{
    width: auto;
    min-height: 300px;
    margin: 10px 50px 0px 50px;
    padding: 0px 15px 0px 15px;
    
}
.desc .pre{
    white-space: pre-line;
}
.chap{
    width: auto;
    min-height: 600px;
    margin: 10px 50px 0px 50px;
    padding: 0px 15px 0px 15px;
}
.chap a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid whitesmoke;
    transition: 0.3s ease;
}
.chap a:hover{
    padding-bottom: 6px;
    border-color: rgb(64, 22, 112);
    color: rgb(79, 73, 73);
}
/*--End of about novel page--*/
/*--Start of form--*/
.form{
    width: auto;
    height: 400px;
    margin: 100px 10px 0px 10px;
    text-align: center;
    font-size: 20px;
    padding: 0px 15px 0px 15px;
}
.form-space{
    margin-top: 20px;
    font-size: 15px;
    width: 40%;
    margin-bottom: 10px;
    padding: 6px 10px;
    border-radius: 8px;
    border: 2px solid #ccc;
}
.form-popup{
    display: none;
    position: fixed;
    width: 400px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 3px solid white;
    z-index: 9;
    border-radius: 1%;
}
.register-popup{
    display: none;
    position: fixed;
    width: 400px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 3px solid white;
    z-index: 9;
    border-radius: 1%;
}
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 18px;
}
.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.form-popup p{
    text-align: center;
    font-size: 15px;
}
.form-popup a{
    color: blue;
    display: inline;
    padding: 0;
    float: none; 
    font-size: 17px;
}
.form-popup a:hover{
    color: rgb(63, 113, 212);
    cursor:pointer;

}
textarea {
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

/*--End of Form--*/

/*--Overlay--*/
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
/*--End of overlay--*/
/*--Start of Post--*/
.post{
    width: auto;
    height: 600px;
    margin: 10px 10px 0px 10px;
    padding: 0px 15px 0px 15px;
}
/*--end of post--*/
/*--start of button--*/
.button1{
    background-color: #04AA6D;
    color: white;
    padding: 16px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 18px;
    margin-top: 10px;
    width: 50%;
    transition-duration: 0.4s;
}
.button1:hover {
    background-color: rgb(55, 141, 58); /* Green */
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
.buttondelete{
    background-color: #ff4d4d;
    color: white;
    padding: 16px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 18px;
    margin-top: 10px;
    width: 40%;
    transition-duration: 0.4s;
}
.buttondelete:hover{
    background-color: red;
    color: white;
    display: inline-block;
}
/*--end of button--*/
.outer{
    width: 100%;
    text-align: center;
}
.outer a{
    border: none;
}


@media screen and (max-width: 990px){
    .header .logo{
        width: 30%
    }
    .header .nav{
        width: 70%
    }
    nav a{
        width: 19%;
    }
    .auth{
        width: 43%;
    }
    .panel img{
        width: 50%;
    }
}
@media screen and (max-width: 890px){
    .header .logo img{
        margin-left:0px; 
        position: absolute;
        top: 0;
        left: 0;
    }
    nav a{
        width: 17%;
    }
    .auth{
        width: 49%;
    }
    .panel img{
        width: 60%;
    }
    .update table .td1{
        width: 40%;
    }
    .update table .td2{
        width: 60%;
    }
}
@media screen and (max-width: 610px){
    .header .logo img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .header nav{
        display: none;
    }
    .nav .auth .login{
        display: none;
    }
    .nav .auth .login-hidden{
        display: block;
    }
    .nav .auth i{
        color:rgb(204, 208, 212);
        position: absolute;
        right: 30px;
        top: 25px;
    }
    .header a.icon{ 
        display: block;
        float: left;
        position: absolute;
        top: 25px;
        left:30px;
        cursor: pointer;
    }
    
    .footer{
        height: 230px;
    }
    .footer .footer1,.footer .footer2{
        display: block;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    .footer .footer2{
        margin-bottom: 10px;
    }
    .panel img{
        width: 70%;
    }
    .update table .td1{
        width: 35%;
    }
    .update table .td2{
        width: 65%;
    }
    .nav a{
        width: 60%
    }
    .nav .auth .logout{
        display: none;
    }
    .nav .auth .logout-hidden{
        display: block;
        width: 20%;
    }

}
@media screen and (max-width: 610px) {
  .header.responsive {
    position: relative;
    height: 230px;
  }
  .header.responsive .logo img{
    margin-left: 0px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .header.responsive nav{
    display: block;
    position: absolute;
    top: 50px;
    left: 35px;
  }
  .header.responsive nav a{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }

}
@media screen and (max-width: 570px){
    .content1{
        margin: 10px 5px 10px 5px;
        height:820px;
    }
    .content1 .announcement{
        float: none;
        display: block;
        width: 100%;
        height: 50%;
    }
    .content1 .most{
        width: 100%;
        margin-top: 10px;
        height: 50%;
    }
    .content2{
        margin: 30px 5px 20px 5px;
    }
    .panel img{
        width: 80%;
    }
    .update table .td1{
        width: 20%;
    }
    .update table .td2{
        width: 80%;
    }
    .form-popup{
        width: 300px;
    }
    .register-popup{
        width: 300px;
    }
    .nav .auth{
        width: 60%;
    }
}